@page "{id:int}"
@model FestivalApp.Pages.ArtistDetailModel
@{
    ViewData["Title"] = Model.Artist.Name;
    var artist = Model.Artist;
}

<div class="artist-detail-container">
    <form method="post" asp-page-handler="ToggleFavorite" asp-route-id="@Model.Artist.Id">
        <input type="hidden" name="id" value="@Model.Artist.Id" />
        <button type="submit" class="btn btn-outline-danger"> ❤ @Model.IsFavoriteText </button>
    </form>
    <div class="artist-detail-info d-flex gap-3">
        @if (artist.Image != null)
        {
            var base64Image = Convert.ToBase64String(artist.Image);
            <img src="data:image/jpeg;base64,@base64Image" alt="@artist.Name" class="artist-detail-image" />
        }
        else
        {
            <div class="artist-detail-placeholder">No Image Available</div>
        }

        <div class="artist-detail-info">
            <p><strong>Nationality:</strong> @artist.Nationality</p>
            <p><strong>Genre:</strong> @artist.Genre</p>
            <p><strong>Description:</strong> @artist.Description</p>
        </div>
    </div>
</div> 