@page
@model FestivalApp.Pages.ArtistOverviewModel
@{
    ViewData["Title"] = "Artist overview";
}


<div class="artist-grid">
    
    @foreach (var artist in Model.artists)
    {
        <a asp-page="/ArtistDetail" asp-route-id="@artist.Id" class="artist-card-link">
        <div class="artist-card">
            @if (artist.Image != null)
            {
                var base64Image = Convert.ToBase64String(artist.Image);
                <img src="data:image/jpeg;base64,@base64Image" alt="@artist.Name" class="artist-image" />
            }
            else
            {
                <div class="no-image">No Image</div>
            }

            <h3>@artist.Name</h3>
            <p>@artist.Nationality</p>
            <p>@artist.Genre</p>
        </div>
        </a>
    }
    
</div>

<nav aria-label="Artist pagination" class="mt-4">
    <ul class="pagination justify-content-center">

        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-page="/ArtistOverview" asp-route-artistPage="@(Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" asp-page="/ArtistOverview" asp-route-artistPage="@i">@i</a>
            </li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-page="/ArtistOverview" asp-route-artistPage="@(Model.CurrentPage + 1)">Next</a>
            </li>
        }

    </ul>
</nav>