@page 
@model FestivalApp.Pages.RaveOverviewModel
@{
    ViewData["Title"] = "Rave overview";
}


<div class="rave-grid">
    @foreach (var rave in Model.raves)
    {
        <a asp-page="/RaveDetail" asp-route-id="@rave.Id" class="rave-card-link">
            <div class="rave-card">
                @if (rave.Image != null)
                {
                    var base64Image = Convert.ToBase64String(rave.Image);
                    <img src="data:image/jpeg;base64,@base64Image" alt="@rave.Name" class="rave-image" />
                }
                else
                {
                    <div class="no-image">No Image</div>
                }

               <h3>@rave.Name</h3>
                <p>@rave.Date.ToString("dd MMM yyyy")</p>
                <p>@rave.Location</p>
            </div>
        </a>
    }
</div>

<nav aria-label="Rave pagination" class="mt-4">
    <ul class="pagination justify-content-center">

        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-page="/RaveOverview" asp-route-ravePage="@(Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" asp-page="/RaveOverview" asp-route-ravePage="@i">@i</a>
            </li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-page="/RaveOverview" asp-route-ravePage="@(Model.CurrentPage + 1)">Next</a>
            </li>
        }

    </ul>
</nav>


