@page
@model AdminArtistModel
@{
    ViewData["Title"] = "Artist Overview";
}

<h2>Artist Overview</h2>
<a href="@Url.Page("AddArtist")" class="btn btn-info"> Add new artist </a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Nationality</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model.Artists)
        {
            <tr>
                <td>@artist.Id</td>
                <td>@artist.Name</td>
                <td>@artist.Nationality</td>
                <td>@artist.Genre</td>
                <td>
                    <a asp-page="./EditArtist" asp-route-id="@artist.Id" class="btn btn-info">Edit</a>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@artist.Id" style="display:inline;">
                        <button type= "submit" classbtn btn-danger>Delete </button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
