@page "{id:int}"
@model FestivalApp.Pages.AdminPages.AdminLineUpModel

    <h2>Line-up for @Model.Rave.Name</h2>
    <h2>Date: @Model.Rave.Date</h2>

    <table>
        <thead>
            <tr>
                <th>Artist</th>
                <th>Starttijd</th>
                <th>Eindtijd</th>
                <th>Stage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lineUp in Model.LineUpItems)
            {
                <tr>
                    <td>@lineUp.Artist.Name</td>
                    <td>@lineUp.StartTime.ToString("HH:mm")</td>
                    <td>@lineUp.EndTime.ToString("HH:mm")</td>
                    <td>@lineUp.Stage</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Nieuw item toevoegen aan deze line-up</h2>
    <form method="post">
       

        <div>
            <label>Artiest:</label>
            <select asp-for="Input.ArtistId" asp-items="@(new SelectList(Model.AllArtists, "Id", "Name"))"></select>
        </div>
        <div>
            <label>Starttijd:</label>
            <input asp-for="Input.StartTime" type="datetime-local" />
        </div>
        <div>
            <label>Eindtijd:</label>
            <input asp-for="Input.EndTime" type="datetime-local" />
        </div>
        <div>
            <label>Stage:</label>
            <input asp-for="Input.Stage" />
        </div>
        <button type="submit">Toevoegen</button>
    </form>


